[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pandas = "*"
openpyxl = "*"
langchain-openai = "*"
python-dotenv = "*"
langchain-experimental = "*"
numexpr = "*"

[dev-packages]

[requires]
python_version = "3.11"
